*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 22px;
}
body{
    background-color: grey;
padding: 1rem;
}
.box{
    height: 10rem;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
}

.box img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    transition: 1s;
    transform-origin:center ;
}
.box img:hover{
    transform: scale(1.5);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1rem;
}

.control{
    max-width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    
}
.btn-group button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: green;
    color: white;
    font-size: 0.6rem;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    padding-bottom: 02px;
}
.btn-group button:hover,
.btn-group .btn-clicked{
    background-color: grey;
}
#search{
    width: 200px;
    height: 30px;
    border-radius: 20px;
    padding: 15px;
    outline: none;
    font-size: 0.7rem;
    border: 5px solid green;
}